<!DOCTYPE html>
{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="col-md-12 mt-5">
        <form action="{% url 'delivery_declaration' %}" method="post" class="mb-2">
            {% csrf_token %}
            <table>
                <tr>
                    <th>ID materiału</th>
                    <th>Nazwa materiału</th>
                    <th>Ilość w magazynie</th>
                    <th>Jednostka</th>
                    <th>Czy chcesz dostarczać</th>
                </tr>
                {% for row in materials %}
                    <tr>
                    {% for element in row %}
                        <td>
                            {{ element }}
                        </td>
                    {% endfor %}
                    <td>
                        <input type="checkbox" name="delivers" value="{{ row.0 }}" {% if row.0 in declared %} checked="checked" {% endif %}>
                    </td>
                    </tr>
                {% endfor %}
            </table>
            <button class="btn btn-secondary fs-5" type="submit" name="naterial_declaring">Potwierdź</button>
        </form>
    </div>
{% endblock %}