<!DOCTYPE html>
{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
    <script>
        function change_order_filter(){
            document.querySelectorAll("#order_row").forEach(row => {
                row.style["display"] = "";
                })
            document.getElementById("order_row").style = "display:yes;"
            let check = document.getElementById("show_all_orders");
            if (check["checked"] != true) {
                document.querySelectorAll("#order_row").forEach(row => {
                row.style["display"] = "None";
                })
            }
        }
    </script>
    <div>
        <label>
            <input type="checkbox" id="show_all_orders" onclick="change_order_filter()"/>
            Pokaż wszystkie zamówienia
        </label>
    </div>
    <div class="col-md-12 mt-5">
        {% csrf_token %}
        <table>
            <tr>
                <th>ID zamówienia</th>
                <th>ID klienta</th>
                <th>ID produktu</th>
                <th>Ilość</th>
                <th>Cena/jednostkę</th>
                <th>Cena całkowita</th>
                <th>Sposób dostawy</th>
                <th>Deadline</th>
                <th>Status</th>
                <th>Czy gotowe</th>
            </tr>
            {% for row in all %}
                <tr {% if row|last == True %}id="order_row"  style="display:none;"{% endif %}>
                {% for element in row %}
                    <td>
                        {{ element }}
                    </td>
                {% endfor %}
                <td>
                     <form action="{% url 'order_handling' %}" method="get" class="mb-2">
                        <button class="btn btn-secondary fs-5" type="submit" name="order_id" value="{{ row.0 }}">
                            Zmień status
                        </button>
                    </form>
                </td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}